/* HEADER STARTS */
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase ;
  background-color: rgb(216, 191, 216);
  padding:10px 0 10px 0;
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none; 
}

nav ul a{
  margin: 0 1em;
}
/* HEADER ENDS */

.container{
  min-height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.top-level{
  display: flex;
  justify-items: center;
  justify-content: center;
}

/* HOME STARTS */
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}
/* HOME ENDS */


/* BROWSE STARTS */
.marketingStatusSection
{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.marketingStatus{
  display: flex;
  justify-items: center;
  justify-content: center;
}

.marketingStatus button{
  margin: 5px;
  width: 200px;
}
.marketing-section-results ul{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.marketing-section-results li{
  margin: 3px 0;
}
.marketing-section-results li:hover{
background-color: thistle;
}
/* BROWSE ENDS */

/* SEARCH PAGE STARTS */
.search-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:5em;
}
/* SEARCH PAGE ENDS */

/* FOOTER START */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* FOOTER ENDS  */